
    <h1>New Bank Branch</h1>
    @model NewBranchForm
    
<form></form>
@using (Html.BeginForm("Create","Bank",FormMethod.Post))
{

    @Html.EditorForModel() 
    <button type="submit" class="btn btn-success">Add</button>

}
